.navbar-header{
	/*background: #AF772F;*/
}

.navbar-brand{
	/*float: right;*/
	padding: 0;

}
.logo{
	/*height: 100%;*/
	height: 80px;
	margin-top: 20px;
}

img.brand{
	height: inherit;
	width: auto;
}
.nav-user-info{
	position: absolute;
    top: 0;
    right: 0;
    display: inline;
    line-height: 50px;
}

.head-img{
	width: 60px;
	height: auto;
	vertical-align: bottom;
}

.event-form{
	font-family: "微软雅黑";
	font-size: 12pt;
}

.sel-label{
	border-radius: 5px;
	border: solid 1px #999;
	padding: 5px;
	color: #c5c2bd;
	min-width: 3.5em;
    text-align: center;
    font-size: 10pt;

    /*font-weight: bolder;
    cursor: pointer;
    display: inline-block;*/
}

.sel-label>input[type=radio]{
	display: none;
}

.adj-button{
	/*border: solid 1px #999;*/
	border: none;
	border-radius: 3px;
	/*padding: 5px;
	color: #c5c2bd;*/
    text-align: center;
    font-size: 10pt;
    /*background: none;*/
   background: #ddd;
   box-shadow: 0px 0px 1px;
}

.submit{
	margin-top: 30px;
}

.panel-heading{
	text-align: center;
	padding: 0;
}

h5{
	color: #AF772F;
}
.jumbotron{
	background: transparent;
	border: solid 2px #AF772F;
}
.panel{
	/*border: solid 2px #AF772F*/
	margin-top: 50px;
}

.flex{
	display: flex;
	display: -webkit-flex;
}

.input-clear{
	background-color: transparent;
	border: 0;
}

.ng-valid~.glyphicon{
	color: green;
}
.ng-invalid~.glyphicon{
	color: red;
}

.txtbox{
	border: none;
	border-bottom: solid 1px #aaa;
	border-radius: 0;
}
.numbox{
	width: 50px;
	text-align: center
}
