.navbar-header{
	/*background: #AF772F;*/
}

.navbar-brand{
	/*float: right;*/
	padding: 0;

}
.logo{
	/*height: 100%;*/
	height: 80px;
	margin-top: 20px;
}

img.brand{
	height: inherit;
	width: auto;
}
.nav-user-info{
	position: absolute;
    top: 0;
    right: 0;
    display: inline;
    line-height: 50px;
}

.head-img{
	width: 60px;
	height: auto;
	vertical-align: bottom;
}

.panel-heading{
	text-align: center;
	padding: 0;
}

h5{
	color: #AF772F;
}
.jumbotron{
	background: transparent;
	border: solid 2px #AF772F;
}
.panel{
	/*border: solid 2px #AF772F*/
	margin-top: 50px;
}

.flex{
	display: flex;
	display: -webkit-flex;
}

.input-clear{
	background-color: transparent;
	border: 0;
}

.ng-valid~.glyphicon{
	color: green;
}
.ng-invalid~.glyphicon{
	color: red;
}

.txtbox{
	border: none;
	border-bottom: solid 1px #aaa;
}
.numbox{
	width: 50px;
}
